

/*  GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(107, 148, 224);
}

h1{ 
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 10px white;
   

}

h2{ 
    text-transform: uppercase;
    background-color: rgb(0, 130, 252);
    box-shadow: 0px 0px 10px 0px #f9faf9;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    border-radius: 15px;
    border: 3px solid white;
    margin: 5px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.img{ 
    border-radius: 15px;

    width: 294px;

}


/*--------------------------------------------------------------------------------------------------------------*/




 /*PIE DE PAGINA*/
 nav ul{
    background-color: rgb(55, 172, 240);
    display: flex;
    justify-content: center;
    list-style: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #f9faf9;
}
nav ul li{
    color: white;
    background-color: lightblue;
    text-transform: uppercase;
    margin: 50px;
    margin-bottom: 0;
    margin-top: 0;
    border: 2px solid rgb(0, 130, 252);
    border-radius: 10px;
    padding: 3px;
    
    
}
 header{
    background-color: rgb(155, 195, 233);
    padding: 20px;
}
.chori {
    
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/*--------------------------------------------------------------------------------------------------------------*/


/* -----------------INICIO---------------------------------------*/
.fotarda {
    
    width: 300px;
    overflow: hidden;
    border-radius: 150px;
   
}


.presentacion {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
.fotarda img{
   
    width: 100%;
    height: 100%;
    transition: 0.2s;
    object-fit: cover;
    border-radius: 150px;
}

.fotarda img:hover{
    transform: scale(1.5);
}
section#hero{
   
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

section#hero{ 
    border: 2px solid white;
    background-color: lightblue;
border-radius: 100px;}

.infoperson {
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(64, 161, 241);
    margin: 40px;
    padding: 20px;
    width: 1200px;
    box-shadow: 0px 0px 10px 0px #f9faf9
}
.hide {
    display: none;
}

.show {
    display: block;

}

/*---------------------------------------------------------------------------------------------------------------*/
 /*CAJAS*/

 .proyecto-detalles {
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    margin: 40px;
    padding: 10px;
    width: 400px;
    background-color: rgb(64, 161, 241);
    box-shadow: 0px 0px 10px 0px #f9faf9
    
}

.proyecto-lista{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;

}
section#proyectos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.proyecto-detalless {
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 40px;
    
    padding: 10px;
    width: 300px;
    background-color: rgb(64, 161, 241);
    box-shadow: 0px 0px 10px 0px #f9faf9
    
}




/*---------------------------------------------------------------------------------------------------------------*/











 
  





 /*CONTACTOS*/

.contactt{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;

}
.contacto {
    
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
   
    padding: 10px;
    width: 600px;
    background-color: lightblue;
    box-shadow: 0px 0px 10px 0px #f9faf9;
    
}
section#contact {
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    
    
}
/*--------------------------------------------------------------------------------------------------------------*/


 /*PARTE DE BOTONES*/
 .boton {
    text-align: center;
  }
  

 .read-more-btn {
    background-color: #030303;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 10px 32px;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px 0px #f9faf9;
    cursor: pointer;
  }
  
  .read-more-btn:hover {
    box-shadow: none;
    background-color: black;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165,)
  }
  
   
  .hideText {
    display: none;
  }
  
  .showText {
    display: block;
  }
